version: "3.8"

services:
  dynamodb-local:
    image: amazon/dynamodb-local:1.13.5
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    command: -jar DynamoDBLocal.jar -sharedDb -inMemory